[submodule "methods/lerobot"]
	path = methods/lerobot
	url = https://github.com/AtticusZeller/lerobot.git
	branch = workspace
[submodule "methods/xense-openpi"]
	path = methods/xense-openpi
	url = https://github.com/AtticusZeller/xense-openpi.git
	branch = main
[submodule "methods/lerobot-xense"]
	path = methods/lerobot-xense
	url = https://github.com/AtticusZeller/lerobot-xense.git
	branch = main
[submodule "methods/fastwam"]
	path = methods/fastwam
	url = https://github.com/AtticusZeller/FastWAM.git
	branch = workspace
[submodule "methods/tacwam"]
	path = methods/tacwam
	url = https://github.com/Hubo1231/TacWAM.git
	branch = main
